.opt {
  & {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .option {
      & {
        width: 20%;
        display: flex;
        flex-direction: column;
        text-align: center;
        display: flex;
        input {
        & { z-index: 7;
          &:checked {
            background-color: purple;
          }}
        }
        
        label {
          font-size: 10px;
          font-weight: 700;
          color: rgb(164, 162, 162);
        }
        .line {
          & {
            position: absolute;
            width: 420px;
            left: 11.3%;
            top: 27%;
            height: 3px;
            background-color: rgb(158, 153, 153);
          }
        }
        
        .line1 {
          left: 11.3%;
          top: 27%;
          width: 95px;
          height: 3px;
          background-color: rgb(81, 34, 120);
        }
        .line2 {
          position: absolute;
          width: 210px;
          top: 27%;
          height: 3px;
          background-color: rgb(81, 34, 120);
        }
        .line3 {
          position: absolute;
          width: 310px;
          top: 27%;
          height: 3px;
          background-color: rgb(81, 34, 120);
        }
        .line4 {
          position: absolute;
          width: 420px;
          top: 27%;
          height: 3px;
          background-color: rgb(81, 34, 120);
        }
     
      }
    }
  }
}
